.absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.-space-x-52>*+* {
    margin-left: -52px;
}

.opacity-40 {
    opacity: 0.4;
}

.blur {
    filter: blur(106px);
}

.h-56 {
    height: 56px;
}

.h-32 {
    height: 32px;
}

.bg-gradient {
    background-image: linear-gradient(to bottom right, purple 40%, rose 60%);
}

.bg-gradient+.bg-gradient {
    background-image: linear-gradient(to right, cyan 40%, pink 60%);
}